<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Salman I-Educate Center</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <nav class="navbar background  h-nav-resp" id="home">
        <ul class="navlist v-class-resp">
            <li><a href="/home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
        <div class="rigthNav v-class-resp">
            <input type="search" name="search" class="search">
            <button class="btn btn-sm">Search</button>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>

    <section class="firstSection background">
        <div class="main-box  box-main">
            <div class="firstHalf">
                <p class="textBig">The Future Of The Education Is Here</p>
                <p class="textSmall">The future of education is all about strengthening and incorporating student-centric learning. In this endeavor, the onus is on teachers to adopt personalized learning and teaching patterns. Flexibility in learning is the keyword that governs the forthcoming tendency of imparting quality education to students.</p>
            </div>
            <div class="secondHalf">
                <button class="btn"><a href="https://www.youtube.com/channel/UC7rbt4fNglFCmxw_nvilsdw" target="_blank">Subscibe</a></button>
                <button class="btn"><a href="https://www.youtube.com/channel/UC7rbt4fNglFCmxw_nvilsdw" target="_blank">Watch Video</a></button>
            </div>
        </div>
    </section>

    <section class="secondSection section" id="about">
        <div class="boxmain">
            <div class="para">
                <p class="textb">Tranforming Education In India</p>
                <p class="texts">The current face of Education in the nation is actually turning out to be a major “silent hindrance” for India’s track to greater development. While all the attention is on social-political issues, it should quickly be turned on to educational reforms. Education has the power to all solve issues(wars, unemployment, waste management, corruption etc), in the long run, and a must for a developing country like India it cannot be ignored, not to say it is being ignored, India spends a lot of Education( somewhat only 2nd after defence), the results aren’t actually visible….

                    We need to completely revamp the system of education. Focus on work experience and adapting to a 21st-century skill set should be on the key agenda list…
                    
                    For this, the first step is reducing the burden on kids by deleting stuff from the syllabus, which almost 90% is irrelevant and students actually forget sooner or later and should be replaced with a practical and solution-centric approach to studies which will develop thinkers and leaders of tomorrow.
                    
                    I think the govt. is trying hard on this but it still needs to be passed quickly by the houses or else it might turn out to be too late.
                    
                    Practical oriented curriculum for all subjects could also be considered.
                    
                    Also , in the +2 scheme students should be very well allowed to study different subjects from any stream because in the 21st century no subject will survive in isolation, it is very much integrated hence no boundaries of ‘Stream’ should prevail…
                    
                    For example, financial technologies or biotechnology or behavioural economics, all are major upcoming fields from different subject specializations.
                    
                    A shift from the theoretical framework to a practical framework will certainly help the cause.
                    
                    I do understand that in a country as big and diverse as ours it is surely “easier said than done” but it surely should be on the top of the government bucket list.
                    
                    Small steps can be taken if the whole “revolution” seems unfeasible. Sports and Yoga too are great ideas that very well should be incorporated in the school curriculum and the govt is doing good on this…
        
                    Lastly , education as rightly is incomplete with the right value sets… somewhat a spirit of coordination should prevail over competition among students today which largely seems missing… a rat race for marks only highlights the state of education as on now…
                   
                    </p>
            </div>
        </div>
        <div class="img1">
            <img src="https://source.unsplash.com/900x900/?html" alt="logo" class="imgFluid">
        </div>
    </section>

    <section class="thirdSection  section" id="services">
        <div class="boxmain">
            <div class="para">
                <p class="textb color1 ">Lets Grow Together</p>
                <p class="texts textp">
                    Education is the most valuable tool that helps in the achievement of all. The evolution of man is through the result of formal and informal learning. It is a process that allows an individual to drown his mental capacity and strength, thus improving man’s personality.
                
                    Education opens a portal of many opportunities that leads a man to become successful in life. It not only upgrades our personality, but molds us spiritually, mentally, and intellectually. A person can attain success only through proper Education. Education holds a vital role in our life, and it is highly essential to be aware of the importance and upgrade ourselves.
                    
                    There are three types of Education- Formal Education that teaches us the basics, academic or trade skills, Informal Education through life lessons, people, and nature, and Non-formal Education through various community/nation-based programs.
                    
                    The importance of Education in life is immense, as it strengthens society. Educations also improve the economic stability of a country. It aids the growth of a better community. In our country, The government provides free education to children up to the secondary level. The introduction of the Right to Education Act makes Education compulsory for every child. There are numerous awareness programs to tell people about the importance of Education.
                    
                    Thus , Education enhances individual and nation-wide growth.
                   
                    </p>
            </div>
        </div>
        <div class="img1">
            <img src="https://source.unsplash.com/900x900/?coding" alt="logo" class="imgFluid">
        </div>
    </section>

    <section class="fourthSection section">
        <div class="boxmain">
            <div class="para">
                <p class="textb color2 ">The End Of The Illitery Is Here</p>
                <p class="texts text2">
                    In conclusion, education makes you a better person and teaches you various skills. ... It enhances the individual growth of a person. Education also improves the economic growth of a country. Above all, it aids in building a better society for the citizens of a country.
                   
                    </p>
            </div>
        </div>
        <div class="img1">
            <img src="https://source.unsplash.com/900x900/?education" alt="logo" class="imgFluid">
        </div>
    </section>


    <footer class="footer">
            <p class="footpara">  Copyrigth &copy; 2027 - Salmansheriff706@gmail.com All rights reserved</p>
    </footer>


</body>
<script src="/static/index.js"></script>
</html>